@model BestellungenList

@{
	ViewData["Title"] = "Bestellung";
	List<TblProdukte> produkte = ViewBag.produkte;
	List<TblBestellung> bestellungen = ViewBag.bestellungen;
	TblKunde kunde = ViewBag.kunde;
}

<div class="container">
	<div class="row">
		<div class="col-md">
			<h1>Bestellung</h1>
			<hr />
			<div class="table-responsive">
				<div>
					<form>
						<div>
							@Html.EditorFor(model => model.KundeID)
						</div>
					</form>
				</div>
				<br />
				<table class="table col-sm table-dark table-bordered">
					<tbody>
						@foreach (TblBestellung best in bestellungen)
						{
							<tr>
								<td>
									@for (int x = 0; x < produkte.Count(); x++)
									{
										if (best.BesproIdref == produkte.ElementAt(x).ProId)
										{
											<span>@produkte.ElementAt(x).ProBezeichnung</span>
										}
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md">
			<h1>Produkte</h1>
			<hr />
			<div class="table-responsive">
				<div id="placeholderHere">
				</div>
				<button type="button" class="btn btn-primary btn-block" data-toggle="ajax-modal" data-target="#addNewProdukt" data-url="@Url.Action("CreateProdukt")">
					+
				</button>
				<br />
				<form asp-action="BestellungEdit">
					<table class="table col-sm table-dark table-bordered" id="tableToReload">
						@Html.HiddenFor(model => model.KundeID)

						@for (int i = 0; i < Model.Active.Count(); i++)
						{
							<tr>
								@Html.HiddenFor(model => model.ProdukteID[i])
								@Html.HiddenFor(model => model.ProdukteName[i])

								<td>
									@Html.CheckBoxFor(model => model.Active[i])
								</td>
								<td>
									@Html.DisplayFor(model => model.ProdukteName[i])
								</td>
							</tr>
						}
					</table>
					<p>
						<input class="btn btn-primary" type="submit" value="Save" />
					</p>
				</form>

			</div>
		</div>
	</div>
</div>

<div>
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
