@model IEnumerable<BestellserviceWeb.Models.TblKunde>

@{
    ViewData["Title"] = "Index";
    List<TblGeschlecht> geschlechter = ViewBag.geschlechter;
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KunVorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KunNachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KunGeschlecht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KunGeburtsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KunVip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KunVorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KunNachname)
            </td>
            <td>
                    @for(int i = 0; i < geschlechter.Count(); i++)
                    {
                        if(geschlechter.ElementAt(i).GesId == item.KunGeschlecht)
                        {
                            <span> @geschlechter.ElementAt(i).GesGeschlecht</span>
                            break;
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KunGeburtsdatum)
            </td>
            <td>
                    @if (item.KunVip)
                    {
                        <input type="checkbox" disabled="disabled" checked="checked">
                    }
                    else
                    {
                       <input type="checkbox" disabled="disabled">
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KunId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KunId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KunId">Delete</a> |
                <a asp-action="Export" asp-route-id="@item.KunId">Export</a> |
                <a asp-action="UploadPic" asp-route-id="@item.KunId">Upload Pictures</a> |
                <a asp-action="UploadPdf" asp-route-id="@item.KunId">Upload Pdf</a> |
                <a asp-action="Bestellung" asp-route-id="@item.KunId">Bestellung</a> |



                <form asp-action="CartAdd" asp-route-id="@item.KunId">
                <input type="hidden" asp-route-id="@item.KunId" asp-for="@item.KunId" />
                <input type="submit" value="Add to Cart" /> |
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
