@model BestellserviceWeb.Models.TblLeistungsbilderProjekt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblLeistungsbilderProjekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeistpAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeistpAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeistpLeistungsbildNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeistpLeistungsbildNavigation.LeistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeistpProjektNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeistpProjektNavigation.ProjName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LeistpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
